<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>정민석</title>
    <link rel="stylesheet" href="/css/card.css">
    <meta property="og:title" content="정민석">
    <meta property="og:description" content="명함에 대한 설명입니다.">
    <meta property="og:imgage" content="/img/card/card.jpg">
</head>
<body>
   <div class="wrapper">
       <div class="card">
           <img src="/img/card/card.jpg" alt=""/>
           <h1>정민석의 명함</h1>
           <p>명함에 대한 설명입니다.</p>
       </div>
   </div>
</body>
</html>