<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/board.css">
</head>
<body>
    <!-- 메뉴 -->
    <nav class="navigation-bar">
            <a href="/main">
                <img class="navigation-bar__logo" src="/img/main/logo.png" alt="">
            </a>
            <div class="navigation-bar__menu">
                <ul class="menu-list">
                    <li><a href="/main">소개</a></li>
                    <li><a href="/templates">템플릿</a></li>
                    <li><a href="/help">학습 및 지원</a></li>
                    <li><a class="selected" href="/board">커뮤니티</a></li>
                    <% if(userName==="admin"){ %>
                        <li><a href="/admin">관리페이지</a></li>
                    <% }%>
                </ul>
            </div>
            <div class="navigation-bar__menu navigation-bar__menu--right">
                <ul class="menu-list">
                    <% if(!userName){ %>
                        <li><a href="/auth/signup">가입</a></li>
                        <li><a href="/auth/login">로그인</a></li>
                    <% }else{ %>
                        <li><a href="/auth/logout">로그아웃</a></li>
                    <% }%>
                    <li>
                        <div class="menu-list_search-bar">
                            <img src="/img/main/icon_search.png" alt="">
                            <input type="text" placeholder="Search" >
                        </div>
                    </li>
                </ul>
            </div>
        </nav>




    <div class="wrapper">
            <div class="wrapper__section">
                <div class="flex">
                    <div class="title">
                        <div>
                            <h2>I AM</h2>
                            <p class="sub-title">공지사항</p>
                        </div>
                    </div>
                    <div>
                        <div class="community-banner flex--right">
                            <a href="/board/ask"><div class="community-banner__item"> 묻고 답하기 </div></a>
                            <a href="board/notice"><div class="community-banner__item community-banner__item--selected"> 공지사항 </div></a>
                        </div>

                        <ul class="community-list">
                            <li class="community-list__head">
                                <p>내용</p>
                                <p>작성자</p>
                            </li>
                            
                            <% for(var i=0; i<rows.length; i++){
                                let l= rows[i].userId.indexOf("@");
                                if(l != -1){
                                    let userId = rows[i].userId.substr(0, l);
                                }else{
                                    userId = rows[i].userId;
                                }
                                %>
                            <li class="community-list__item">
                                <a href=""><%= rows[i].title %></a>
                                <p><%= userId %></p>
                            </li>
                            <% } %>
                        </ul> 
                        <% if(userName === "admin"){ %>
                            <a href="/board/new"><div class="button--write">글쓰기</div></a>
                        <% }else{} %>
                        
                        <div class="flex--center height--eight">
                            <div class="page-selector">
                                <div class="page-selector__arrow">≪</div>
                                <div class="page-selector__arrow">
                                ＜  
                                </div>
                                <div class="page-selector__num">
                                    <a href="" class="selected">1</a>
                                    <a href="">2</a>
                                    <a href="">3</a>
                                    <a href="">4</a>
                                    <a href="">5</a>
                                    <a href="">6</a>
                                    <a href="">7</a>
                                    <a href="">8</a>
                                    <a href="">9</a>
                                    <a href="">10</a>
                                </div>
                                <div class="page-selector__arrow">
                                ＞
                                </div>
                                <div class="page-selector__arrow">
                                ≫
                                </div>
                            </div>
                        </div>
                        
                        <div class="flex--center">
                            <div class="searchBarWrapper">
                                <div class ="inputArea">
                                    <input type="text" placeholder="검색" class="searchBar"/>
                                    <div class="searchIcon"></div>
                                </div>
                            </div>
                        </div>
                        
                      


                    </div>

                </div>
            </div>
        </div>



























    <footer class="footer text-center">
        <div class="footer_logo">
            <img src="/img/main/logo_simple.png" alt="">
            <div class="footer_blur"></div>
        </div>
        
        <p class="footer_info">
            상호(주) 아이엠 사업자등록번호 123-45-45823</br>
            대표자명 김찬주 주소 전라남도 여수시 둔덕동 산96-1 전남대학교 이학관 2층 208호</br>
            고객센터 010-3001-9196 (10:00~18:00)</br>
            채팅문의 제휴문의 kcj9196@gmail.com</br>
        </p>
        
    </footer>
</body>
</html>