<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">

</head>
<body>
    <!-- 메뉴 -->
    <nav class="navigation-bar">
            <a href="/main">
                <img class="navigation-bar__logo" src="/img/main/logo.png" alt="">
            </a>
            <div class="navigation-bar__menu">
                <ul class="menu-list">
                    <li><a href="/main">기능</a></li>
                    <li><a href="/audgka/1/make">체험하기</a></li> 
                    <li><a href="/templates">템플릿</a></li>
                    <li><a href="#">프리미엄</a></li>
                    <li><a href="/board">커뮤니티</a></li>
                </ul>
            </div>
            <div class="navigation-bar__menu navigation-bar__menu--right">
                <ul class="menu-list">
                        <li><a href="/auth/signup">가입</a></li>
                        <li><a class="selected" href="/auth/login">로그인</a></li>
                    <li>
                        <div class="menu-list_search-bar">
                            <img src="/img/main/icon_search.png" alt="">
                            <input type="text" placeholder="Search" >
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    
    <div class="section">
        <div class="center-box">

            <div class="left">
                <div class="showcase">
                    <div class="login-footer">
   
                    </div>
                </div>
                
            </div>

            <div class="right">
                <div class="login-box">
                    <div class="login-box__logo">
                        <img src="/img/main/logo.png" alt="Sluralpright">
                        <!-- <img src="https://image.ibb.co/cO9Lxq/login-bg.jpg
                        " alt=""> -->
                    </div>
                    <form action="/auth/login" method="post">
                        <div class="login-box__id">
                            <input name="userId" type="text" placeholder="user@email.com">
                        </div>
                        <div class="login-box__password">
                            <input name="userPW" type="password" placeholder="Password">
                        </div>
                        <button type="submit" class="login-button login-button--long-orange">Sign In</button>
                    </form>
                    <div class="sixty">
                        <div class="links">
                            <a href="#">Forgot Password</a>
                            <a href="/auth/signup">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
        
            
            




    <footer class="footer text-center">
        <div class="footer_logo">
            <img src="/img/main/logo_simple.png" alt="">
            <div class="footer_blur"></div>
        </div>
        
        <p class="footer_info">
            상호(주) 아이엠 사업자등록번호 123-45-45823</br>
            대표자명 김찬주 주소 전라남도 여수시 둔덕동 산96-1 전남대학교 이학관 2층 208호</br>
            고객센터 010-3001-9196 (10:00~18:00)</br>
            채팅문의 제휴문의 kcj9196@gmail.com</br>
        </p>
        
    </footer>
</body>
</html>