<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <!-- 메뉴 -->
    <nav class="navigation-bar">
        <a href="#">
            <img class="navigation-bar__logo" src="/img/main/logo_picaboo.png" alt="">
        </a>
        <div class="navigation-bar__menu">
            <ul class="menu-list">
                <a href="#"><li>명함소개</li></a>
                <a href="#"><li>내 정보</li></a>
                <a href="#"><li>커뮤니티</li></a>
                <a href="#"><li>명함 제작</li></a>
                <a href="/auth/login"><li>로그인</li></a>
            </ul>
        </div>
    </nav>

    <!-- 배너 -->
    <div class="section">
        <div class="banner"></div>
    </div>
</body>
</html>