<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>I AM</title>
    <link rel="stylesheet" href="/css/maker.css">
    <meta property="og:title" content="I AM">
    <meta property="og:description" content="명함 제작 페이지 'I AM'을 통해 제작되었습니다.">
    <meta property="og:image" content="http://www.audgka.com/img/card/os.png">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Mono:100,300,400,400i,500,700" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/plugins/CSSRulePlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
</head>
<body>

<!--    <div id="" class=""></div>    <section id="" class=""></section>  -->
    <div class="nav">
        <div class="nav_hamburger">
            <img src="/img/make/icon_hamburger.png" alt="">
        </div>
        <ul class="nav_menu-list">
            <li>
                <img src="/img/make/icon_preview.png" alt="">
                <a href="">미리보기</a>
            </li>
            <li>
                <img src="/img/make/icon_share.png"  alt="">
                <a href="">공유</a>
            </li>
            <li>
                <img src="/img/make/icon_hamburger.png"  alt="">
                <a href="">임시저장</a>
            </li>
        </ul>
        <div class="nav_info">
            <% if(!userName){ %>
                <a href="/auth/signup">가입</a>
                <a href="/auth/login">로그인</a>
            <% }else{ %>
                <a href="#"><%= userName %>님 환영합니다.</a> 
            <% } %>
            
        </div>
    </div>
    <div id="makerSection" class="maker-section">
    <!-- 우측 편집박스 -->
    <div id="toolBox" class="tool-box">
        <div class="tool-box_title">
            <p>본문텍스트</p>
        </div>
        <div class="tool-box_content-cover">
            <ul class="tool-box_content-list">
                <li class="tool-box_content-list_item"><a href=""> <span>색상</span> black</a></li>
                <li class="tool-box_content-list_item"><a href=""> <span>색상</span> black</a></li>
                <li class="tool-box_content-list_item"><a href=""> <span>색상</span> black</a></li>
                <li class="tool-box_content-list_item"><a href=""> <span>색상</span> black</a></li>
                <li class="tool-box_content-list_item"><a href=""> <span>색상</span> black</a></li>
            </ul>
        </div>
    </div>






    <div id="consoleMSG" class=""></div>

    <div id="LogoMark_DE" class="">
    <h1>DREW</h1>
        <img src="https://drewendly.github.io/de/svg/DE-Just-Black-30.svg">
    <h1>ENDLY</h1>
    </div>

    <div id="PGs-Wrap" class="pages-container" >

    <section id="P1-wrap" class="full-page-wrap">


        <!-- 텍스트 편집 박스 -->
        <div id="textEditBoxCover" class="text-edit-box_cover">
            <div id="textEditBox" class="text-edit-box">
                <div id="textEditToolbar" class="text-edit-box_toolbar">
        
                </div>
                <textarea id="textArea" class="text-edit-box_textarea" name="text" id="" cols="30" rows="10" style="width:200px; height:100px; text-align: center; font-size:1rem;"></textarea>
            </div>
        </div>


        <div id="P1-Social-Links" class="social-links">
        <div id="" class="social-flag">
            <i class="material-icons">more_vert</i>
            <!--sort, apps, toc, linear_scale, layers, cloud queue, more ve rt, public -->
        </div>
        <h2 class="">social</h2>
        </div>

        <div id="P1-Left" class="page-left-half">
        <div id="P1-Left-Body" class="left-body-wrap">
            <div id="P1-Statement" class="body-copy">
            <h1 style="">'I AM'<br></h1>
            <h2>Psychology</h2>
            <h3>WEB Front-End </h3>
            <p>“좋은 디자인은 그 때문에 소모되는 비용보다 빠르게 가치가 쌓인다.”
                    <br/> – 토마스 C. 게일(Thomas C. Gale) 
            <br/><br/>
            “말은 쉽지, 코드를 보여줘.”
            </br> – 리누스 토르발스(Linus Torvalds)</p>
            </div>
        </div>

        <div id="Project-Desc-Wrap" class="">
            <div id="Project-Desc-BG" class="First">
            <!--      <div id="Particle-1" class="BG-particle"></div>
                    <div id="Particle-2" class="BG-particle"></div>
                    <div id="Particle-3" class="BG-particle"></div>
                    <div id="Particle-4" class="BG-particle"></div>
                    <div id="Particle-5" class="BG-particle"></div>
                    <div id="Particle-6" class="BG-particle"></div>
                    <div id="Particle-7" class="BG-particle"></div>  -->
            </div>

            <div id="Mixin-Desc-Body" class="project-desc-body active">
            <div class="desc-h1-cont">
                <h1>Mixin</h1>
                <h4 class="verticalText">2<br>0<br>1<br>6</h4>
            </div>

            <h3>01</h3>

            <p class='pSpan_1'><span>Mixin is a social music app with the power </span>
                <span>of the user in mind. Cloud hosting and </span>
                <span>intelligent algorythms curate suggestions </span>
                <span>to create an intimate experience.</span></p>
            <a class="inkAnchor" data-target-expand-project="#Mixin-Expand"> EXPAND  +</a>
            <div class='disc-container'>
                <h5 class="discipline disc-interaction">Interaction</h5>
                <h5 class="discipline disc-UIUX">UI / UX</h5>
            </div>
            <div class="h4-HR desc-HR"></div>
            <div class="h4-VR-B"></div>
            <div class="h3-HR desc-HR"></div>

            </div>

            <div id="Weedmaps-Desc-Body" class="project-desc-body">
            <div class="desc-h1-cont">
                <h1>Weedmaps</h1>
                <h4 class="verticalText">2<br>0<br>1<br>6</h4>
            </div>

            <h3>02</h3>

            <p class='pSpan_2'><span>Launch of redesign codenamed ‘Blue Dream’.</span>
                <span>I was contracted to work in-house with the </span>
                <span>design team to produce a motion graphic </span>
                <span>video showcasing the new UX.</span></p>
            <a class="inkAnchor  lite-B" data-target-expand-project="#Weedmaps-Expand"> EXPAND  +</a>
            <h5 class="discipline disc-UI-UX"></h5>
            <h5 class="discipline disc-idenity"></h5>
            <div class="h4-HR desc-HR  lite-W"></div>
            <div class="h3-HR desc-HR"></div>
            </div>

            <div id="Hurley-Desc-Body" class="project-desc-body">
            <div class="desc-h1-cont">
                <h1>Hurley Int.</h1>
                <h4 class="verticalText">2<br>0<br>1<br>5</h4>
            </div>
            <h2 class="//hurley-h2">NIKE</h2>
            <h3>03</h3>

            <p class='pSpan_3'><span>Two complete apparel lines. Nike/Hurley </span>
                <span>class for upper-level & honors students. </span>
                <span>Hosted and critiqued by the company’s lead </span>
                <span>designers at their Pasadena HQ.</span></p>
            <a class="inkAnchor" data-target-expand-project="#Hurley-Expand"> EXPAND  +</a>
            <h5 class="discipline disc-UI-UX"></h5>
            <h5 class="discipline disc-idenity"></h5>
            <div class="h4-HR desc-HR  lite-B"></div>
            <div class="h3-HR desc-HR"></div>
            </div>

            <div id="LCAD-Desc-Body" class="project-desc-body">
            <div class="desc-h1-cont">
                <h1>Capstone</h1>
                <h4 class="verticalText">2<br>0<br>1<br>5</h4>
            </div>
            <h2 class="">LCAD</h2>
            <h3>04</h3>

            <p class='pSpan_4'><span>Senior Thesis reel featured in LCAD's</span>
                <span>'Alumni Spotlight'. Music production with</span>
                <span>choreographed motion graphics based on the </span>
                <span>creation of my brand identity & album art.</span></p>

            <a class="inkAnchor"> EXPAND  +</a>
            <h5 class="discipline disc-UI-UX"></h5>
            <h5 class="discipline disc-idenity"></h5>
            <div class="h4-HR desc-HR"></div>
            <div class="h3-HR desc-HR"></div>
            </div>

            <div id="SelfBrand-Desc-Body" class="project-desc-body">
            <div class="desc-h1-cont">
                <h1>Branding</h1>
                <h4 class="verticalText">2<br>0<br>1<br>5</h4>
            </div>
            <h2 class="">SELF</h2>
            <h3>05</h3>

            <p class='pSpan_5'><span>Personal identity project consisting of</span>
                <span>logomark + font design & self-portraits.</span>
                <span>Exploration of typography, color theory,</span>
                <span>and design language to express my ethos.</span></p>

            <a class="inkAnchor"> EXPAND  +</a>
            <h5 class="discipline disc-UI-UX"></h5>
            <h5 class="discipline disc-idenity"></h5>
            <div class="h4-HR desc-HR  lite-B"></div>
            <div class="h3-HR desc-HR"></div>
            </div>
            <!-- Illustration Desc Start  6/10-->
            <div id="TrifectaSkate-Desc-Body" class="project-desc-body">
            <div class="desc-h1-cont">
                <h1>'Trifecta'</h1>
                <h4 class="verticalText">2<br>0<br>1<br>5</h4>
            </div>
            <h2 class="">SKATE</h2>
            <h3>06</h3>

            <p class='pSpan_5'><span>Series of 3 digitally painted skate decks.</span>
                <span>One primary illustration split into two</span>
                <span>designs focusing on the contrasting themes</span>
                <span>Creativity & Life Vs. Temptation & Death.</span></p>

            <a class="inkAnchor"> EXPAND  +</a>
            <h5 class="discipline disc-UI-UX"></h5>
            <h5 class="discipline disc-idenity"></h5>
            <div class="h4-HR desc-HR"></div>
            <div class="h3-HR desc-HR"></div>
            </div>

            <div id="Offworld-Desc-Body" class="project-desc-body">
            <div class="desc-h1-cont">
                <h1>Offworld EP</h1>
                <h4 class="verticalText">2<br>0<br>1<br>5</h4>
            </div>
            <h2 class="">COVER</h2>
            <h3>07</h3>

            <p class='pSpan_5'><span>Series of 3 digitally painted skate decks.</span>
                <span>One primary illustration split into two</span>
                <span>designs focusing on the contrasting themes</span>
                <span>Creativity & Life Vs. Temptation & Death.</span></p>

            <a class="inkAnchor"> EXPAND  +</a>
            <h5 class="discipline disc-UI-UX"></h5>
            <h5 class="discipline disc-idenity"></h5>
            <div class="h4-HR desc-HR"></div>
            <div class="h3-HR desc-HR"></div>
            </div>

            <div id="Grime-Desc-Body" class="project-desc-body">
            <div class="desc-h1-cont">
                <h1>Grime Sig.</h1>
                <h4 class="verticalText">2<br>0<br>1<br>5</h4>
            </div>
            <h2 class="">TITLE</h2>
            <h3>08</h3>

            <p class='pSpan_5'><span>Series of 3 digitally painted skate decks.</span>
                <span>One primary illustration split into two</span>
                <span>designs focusing on the contrasting themes</span>
                <span>Creativity & Life Vs. Temptation & Death.</span></p>

            <a class="inkAnchor lite-B"> EXPAND  +</a>
            <h5 class="discipline disc-UI-UX"></h5>
            <h5 class="discipline disc-idenity"></h5>
            <div class="h4-HR desc-HR  lite-W"></div>
            <div class="h3-HR desc-HR"></div>
            </div>

        </div>
        </div>

        <div id="P1-Right" class="page-right-half">
        <div id="P1-Right-Body" class="right-body-wrap">
            <div id="" class="inset-image">
            <div id="inset-geo-H" class="inset-geo-bar"></div>
            <div id="inset-geo-V" class="inset-geo-bar"></div>
            <p class="SF-text">Recent Work</p>
            </div>
        </div>
        <div id="Project-Menu-Center-Under" class='project-center-wrap'></div>

        <div id="Project-Menu-Wrap">

            <div id="Tri-Mask">
            <div id="Xit-Triangle" data-target-project="#Mixin-Desc-Body">
                <div id="Tri-Extend"></div>
            </div>
            <h1 id="XitPlus">+</h1>
            </div>

            <div id="Project-OverHead">
            <h2>PROJECTS</h2>
            </div>

            <div id="Project-UL-List" class="">
            <ul>
                <li id="Mixin-LI" class="project-li upper active" data-target-project="#Mixin-Desc-Body" data-target-bg="rgb(55,120,255)"> <a class="inkAnchor" data-target-expand-project="#Mixin-Expand">Mixin™</a> </li>
                <li id="Weedmaps-LI" class="project-li upper" data-target-project="#Weedmaps-Desc-Body" data-target-bg="rgb(0,203,188)"> <a class="inkAnchor" data-target-expand-project="#Weedmaps-Expand">Weedmaps®</a> </li>
                <li id="Hurley-LI" class="project-li upper" data-target-project="#Hurley-Desc-Body" data-target-bg="rgb(245,78,84)"> <a class="inkAnchor" data-target-expand-project="#Hurley-Expand">Hurley® Int.</a> </li>
                <li id="LCAD-LI" class="project-li upper" data-target-project="#LCAD-Desc-Body" data-target-bg="rgb(0,188,212)"> <a href="">LCAD Capstone</a> </li>
                <li id="SelfBrand-LI" class="project-li upper" data-target-project="#SelfBrand-Desc-Body" data-target-bg="rgb(204,178,150)"> <a href="">Self Branding</a> </li>

                <li id="TrifectaSkate-LI" class="project-li lower" data-target-project="#TrifectaSkate-Desc-Body" data-target-bg="rgb(116, 81, 255)"> <a href="">Trifecta Skate</a> </li>
                <li id="OffworldEP-LI" class="project-li lower" data-target-project="#Offworld-Desc-Body" data-target-bg="rgb(96, 125, 139)"><a href="">Offworld EP</a> </li>
                <li id="GrimeTitle-LI" class="project-li lower" data-target-project="#Grime-Desc-Body" data-target-bg="rgb(245, 175, 0)"> <a href="">Grime Title</a> </li>
                <li id="TronRiseOf-LI" class="project-li lower"> <a href="">Tron: Rise of... </a> </li>
                <li id="Self-Illusion-LI" class="project-li lower"> <a href="">Self-Illusion</a> </li>

                <li id="TraditionalArt-LI" class="project-li lower"> <a href="">Traditional Art</a> </li>
                <li id="Eyes-LI" class="project-li lower"> <a href="">Eyes</a> </li>
            </ul>
            <div id="Project-Menu-Center-Over" class='project-center-wrap'>
                <h3 id="Design_Digital-Cat" class="project-category">Design<br>&<br>Digital<br>Media</h3>
                <h3 id="Illustration-Cat" class="project-category">Illust.</h3>
                <h3 id="Trad_Art-Cat" class="project-category">Trad.<br>Art</h3>
            </div>
            </div>

        </div>
        </div>
<!-- 상단 ul태그 -->
        <div id="P1-Top" class="Border-Top page-H-border">
        <ul class="H-border-list">
            <li class="border-item border-12th">
            <p><img src="/img/card/logo.png" alt=""></p>
            </li>
            <li class="border-item border-6th">
            <p>Graphic<br>Design</p>
            </li>
            <li class="border-item border-6th">
            <p>Motion Graphics<br>3D Render</p>
            </li>
            <li class="border-item border-6th">
            <p>Front-End<br>Dev.</p>
            </li>
            <li class="border-item border-6th">
            <p>Illustration<br>Dig. Painting</p>
            </li>
            <li class="border-item border-6th">
            <p>Music Production<br>Mixing</p>
            </li>
            <li class="border-item border-12th"><br></li>
        </ul>
        </div>
        <div id="Page-Bottom-Nav" class="Border-Bottom page-H-border">
        <ul class="H-border-list">
            <li class="border-item border-12th">
            <p></p>
            </li>
            <li class="border-item border-12th current-page">
            <a href="#PG-Wrap" class=''>
                <p>Home &nbsp 01</p>Home &nbsp 01</a>
            </li>
            <li class="border-item border-12th">
            <a href="#PG-Wrap">
                <p>Personal &nbsp 02</p>Personal &nbsp 02</a>
            </li>
            <li class="border-item border-12th">
            <a href="#PG-Wrap">
                <p>Contact &nbsp 03</p>Contact &nbsp 03</a>
            </li>
            <li class="border-item border-12th">
            <a href="#PG-Wrap">
                <p>Social &nbsp 04</p>Social &nbsp 04</a>
            </li>
            <li class="border-item border-12th">
            <p></p>
            </li>
        </ul>
        </div>
        <div id="" class="page-number">
        <h1>01<span>/04</span>
            <h1>
        </div>

        <div id="" class="inner-expand"></div>
    </section>

    <div id="" class="GRID_OVER">
        <ul class="GRID_12-Cols">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        </ul>
        <ul class="GRID_8-Rows">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        </ul>
    </div>
    </div>

    <div id="" class="outer-expand"></div>
    <div id="X-it" class="">+</div>
    <div id="Expand-Container" class="">

    <div id="Mixin-Expand" class="project-ID-wrap" data-title="Mixin">
        <div id="" class="project-expand-wrap">
        <div id="" class="xpnd-header">

            <h3 id="H3-ParaxTest"><span>0</span>1</h3>
            <h4 id="H4-ParaxTest">Project No.</h4>
            <h1 id="H1-ParaxTest" style="">Mixin</h1>
            <h2 id="H2-ParaxTest" class="/Active-color">Mobile App UI/UX Design</h2>

            <div id='Mixin-PlayButton' class='Video-PlayButton center-button'>
            <svg class="Play-SVG-Circle">
                <circle class="Circle-Outline"  class="" cy="50%" cx="50%" r="31" transform= "rotate(-90, 50%, 50%)"/>
                <circle class="Circle-Fill" class="" cy="50%" cx="50%" r="31"/> 
                <circle class="Circle-gsap" class="" cy="50%" cx="50%" r="31"/> 
                </svg>
            <i class="material-icons ">play_arrow</i>
            </div>
            <div class='svg-down-arrow'>
            <svg version="1.1" id="Down-Arrow-Heart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 540" style="enable-background:new 0 0 960 540;" xml:space="preserve">
                <g>
                <path id="Left1st" class="path" style="fill:none;stroke: ;stroke-width:18;stroke-miterlimit:10;" d="M491.333,364L270,201c0,0,129.1-141.376,314.56,0C700,289,790,236,790,236"/>
                <path id="Right2nd" class="path" style="fill:none;stroke: ;stroke-width:1;stroke-miterlimit:10;" d="M481,364.25L667,227c0,0-48.75-124.5-194-54"/>
                </g>
            </svg>
            </div>

            <div class="prevProject navProject-button hurley-color"><i class="material-icons">navigate_before</i></div>
            <div class="nextProject navProject-button hurley-color"><i class="material-icons">navigate_next</i></div>

        </div>

        <div class="expand-brief-wrap">
            <div class="xpnd-brief-txt single-txt">
            <p><span>M</span>ixin is a self-initiated project I started to fulfill my passion for music. This hypothetical project is how I would design a social music app. I use Box to conveniently cloud-host my music. Mixin combines that insight with a fresh
                UI. Innovative UX capabilities would increase one's abilities to share, navigate, and manipulate content such as mixes, playlists, and moods. Global metrics would uniquely show how many people own, share, and are currently listening to songs
                or artists. Born out of a deep love for modern design and music, Mixin is an opportunity for me to exhibit and practice a variety of design skills.<br><br><b>UI/UX Skills</b> &nbsp • concept + prototyping &nbsp • interaction design &nbsp •
                motion design<br>Design Skills &nbsp • branding &nbsp • grid layouts &nbsp • typography &nbsp • color theory
            </p>
            </div>

        </div>

        <div class="expand-content-wrap">

            <div id='Mixin_Section_1' class='flex-section section_1'>
            <div class='section-title'>
                <div class='HR-margin'></div>
                <h1>01</h1>
                <div class='VR-short'></div>
                <h2>Interface Design<br><span>Ai + Ps</span></h2>
            </div>

            <div class="flex-picker flex-L">
                <ul id="Mixin-S1L">
                <li class='s1-li_1' data-target-slide=".slide_01" data-text="Home & Search" data-slide-color="rgb(90,128,248)">1</li>
                <li class='s1-li_2 initial' data-target-slide=".slide_02" data-text="Artist Cards" data-slide-color="rgb(118,186,34)">2</li>
                <li class='s1-li_3' data-target-slide=".slide_03" data-text="Moods" data-slide-color="rgb(0,205,190)">3</li>
                <li class='s1-li_4' data-target-slide=".slide_04" data-text="Discovery" data-slide-color="rgb(249,108,113)">4</li>
                <li class='s1-li_5' data-target-slide=".slide_05" data-text="Music Player" data-slide-color="rgb(245, 175, 0)">5</li>
                </ul>
            </div>

            <div class="flex-img flex-M">
                <div id="Mixin-S1s1M" class="slide-img slide_01 slide_flex">
                <img class="img_1050 layer0" src="https://s20.postimg.io/pkmcku3dn/Bright_WHT2_Amb_Smller_Grnd_1050.jpg">
                <img class="img_1050 layer1" src="https://s20.postimg.io/oevo7w2aj/Home_Search_Card_no_ADJ_PNG8_1050.png">
                </div>
                <div id="Mixin-S1s2M" class="slide-img slide_02 slide_flex">
                <img class="img_1050 layer0 iPhone" src="https://s20.postimg.io/epmizxqqj/i_Phone_Slant_Lt_BG_Shadow_Only_1050.jpg">
                <img class="img_1050 layer1 iPhone" src="https://s20.postimg.io/mm708626z/Artist_HS82_i_Phone_Only_Elevate_2_PNG24_1050.png">
                </div>
                <div id="Mixin-S1s3M" class="slide-img slide_03 slide_flex">
                <img class="img_1050 layer0" src="https://s20.postimg.io/4cmg8mt23/Wht_Diag_Grain_Shadow_1050.jpg">
                <img class="img_1050 layer1" src="https://s20.postimg.io/tjxc8vw63/Moods_Card_PNG8_1050.png">
                </div>
                <div id="Mixin-S1s4M" class="slide-img slide_04 slide_flex">
                <img class="img_1050 layer0" src="https://s20.postimg.io/ndb66rjiz/Wht_Amb_Smller_Grnd_1050.jpg">
                <img class="img_1050 layer1" src="https://s20.postimg.io/6bic4o4nv/Col_Curate_Card_PNG8_1050.png">
                </div>
                <div id="Mixin-S1s5M" class="slide-img slide_05 slide_flex">
                <img class="img_1050 layer0" src="https://s20.postimg.io/ndb66rjiz/Wht_Amb_Smller_Grnd_1050.jpg">

                </div>
            </div>

            <div id="" class="flex-txt flex-R">
                <div id="Mixin-S1s1R" class="slide-desc slide_01 slide_flex">
                <h1><span>Home</span><span> &amp; </span><span>Search</span></h1>
                <h2 class="active">Part I</h2>
                <h2>Part II</h2>
                <h2>Part VII</h2>
                <h6>1</h6>
                <p>The home landing page is designed emphasize search by categories, keywords, or advanced preferences.</p>
                <p>Quick search thumbnails allow filtering and sorting based on popularity, time, and matching algorithms. </p>
                <p>A unique category slider with a rolling magnification effect pans through allowing for a quick view of the immediate choices.</p>
                </div>
                <div id="Mixin-S1s2R" class="slide-desc slide_02 slide_flex">
                <h1><span>Artist </span><span>Cards</span></h1>
                <h2 class="active">Part I</h2>
                <h2>Part II</h2>
                <h6>2</h6>
                <p>The artist modal cards provide an intermediate view between search thumbnails and the artist profile page</p>
                <p>Horizontal swipes switch between the next artist in the que, while Vertical swipes show related and connected artists.</p>
                <p>The lower section displays icons and badges indicating matching and popularity, badged can be clicked to show in-depth graphs.</p>
                </div>
                <div id="Mixin-S1s3R" class="slide-desc slide_03 slide_flex">
                <h1><span>Dynamic</span><span> Moods</span><span>©</span></h1>
                <h2 class="active">Part I</h2>
                <h2>Part II</h2>
                <h6>3</h6>
                <p>The design of the Mood section focuses on photography and elegant typography to stimulate the users' tastes.</p>
                <p>Moods are dynamically curated playlists that are established by record labels, users, or Mixin Music.</p>
                <p>"Choose a title that intriques your current state of mind."</p>
                <!--    <p>As a large collection, Moods returns a more specific output based on their current calibration settings.</p>
                <p>Choose a title that intriques your current state of mind.</p> -->
                </div>
                <div id="Mixin-S1s4R" class="slide-desc slide_04 slide_flex">
                <h1><span>Intro</span><span> &amp; </span><span>Discovery</span></h1>
                <h2 class="active">Part I</h2>
                <h2>Part II</h2>
                <h6>4</h6>
                <p>A set of web or app screens </p>
                <p>Onboarding 2.</p>
                <p>Onboarding 3.</p>
                </div>
                <div id="Mixin-S1s4R" class="slide-desc slide_05 slide_flex">
                <h1><span>Music </span><span>Player </span></h1>
                <h2 class="active">Part I</h2>
                <h2>Part II</h2>
                <h6>5</h6>
                <p>Music Player 1.</p>
                <p>Music Player 2.</p>
                <p>Music Player 3.</p>
                </div>
            </div>
            <div class="section-gradient"></div>
            </div>

            <div id='Section_2' class='content-section'>
            <div class='section-title'>
                <div class='HR-margin'></div>
                <h1>02</h1>
                <div class='VR-short'></div>
                <h2>Brand Identity<br><span>Ai + Manual</span></h2>
            </div>
            <div class="image_1080px center-image">
                <img src="https://s20.postimg.io/49k72tvvf/Water_Color_STAIN_BW_MOCKup_1_b.png">
                <div class="image-picker right">
                <ul>
                    <li class='Active-BG'>Image 01</li>
                    <li class='Active-BG'>Image 02</li>
                    <li class='Active-BG'>Image 03</li>
                    <li class='Active-BG'>Image 04</li>
                    <li class='Active-BG'>Image 05</li>
                </ul>
                </div>
            </div>
            </div>
        </div>

        </div>
    </div>

    <div id="Weedmaps-Expand" class="project-ID-wrap" data-title="Weedmaps">
        <div id="" class="project-expand-wrap">
        <div id="" class="xpnd-header">

            <h3 id="/H3-ParaxTest"><span>0</span>2</h3>
            <h4 id="/H4-ParaxTest">Project No.</h4>
            <h1 id="/H1-ParaxTest" style="">Weedmaps</h1>
            <h2 id="/H2-ParaxTest" class="/Active-color">Corporate Media Feature</h2>

            <div id='Weedmaps-PlayButton' class='Video-PlayButton center-button'>
            <svg class="Play-SVG-Circle">
                <circle class="Circle-Outline"  class="" cy="50%" cx="50%" r="31" transform= "rotate(-90, 50%, 50%)"/>
                <circle class="Circle-Fill" class="" cy="50%" cx="50%" r="31"/> 
                <circle class="Circle-gsap" class="" cy="50%" cx="50%" r="31"/> 
            </svg>
            <i class="material-icons ">play_arrow</i>
            </div>
            <div class='svg-down-arrow'>
            <svg version="1.1" id="Down-Arrow-Heart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 540" style="enable-background:new 0 0 960 540;" xml:space="preserve">
            <g>
                <path id="Left1st" class="path" style="fill:none;stroke: ;stroke-width:18;stroke-miterlimit:10;" d="M491.333,364L270,201c0,0,129.1-141.376,314.56,0C700,289,790,236,790,236"/>
                <path id="Right2nd" class="path" style="fill:none;stroke: ;stroke-width:1;stroke-miterlimit:10;" d="M481,364.25L667,227c0,0-48.75-124.5-194-54"/>
            </g>
            </svg>
            </div>

            <div class="prevProject navProject-button hurley-color"><i class="material-icons">navigate_before</i></div>
            <div class="nextProject navProject-button hurley-color"><i class="material-icons">navigate_next</i></div>

        </div>

        <div class="expand-brief-wrap">
            <div class="xpnd-brief-txt single-txt">
            <p><span>M</span>ixin is a self-initiated project I started to fulfill my passion for music. This hypothetical project is how I would design a social music app. I use Box to conveniently cloud-host my music. Mixin combines that insight with a fresh
                UI. Innovative UX capabilities would increase one's abilities to share, navigate, and manipulate content such as mixes, playlists, and moods. Global metrics would uniquely show how many people own, share, and are currently listening to songs
                or artists. Born out of a deep love for modern design and music, Mixin is an opportunity for me to exhibit and practice a variety of design skills.<br><br><b>UI/UX Skills</b> &nbsp • concept + prototyping &nbsp • interaction design &nbsp •
                motion design<br>Design Skills &nbsp • branding &nbsp • grid layouts &nbsp • typography &nbsp • color theory
            </p>
            </div>

        </div>

        <div class="expand-content-wrap">
        </div>

        </div>
    </div>

    <div id="Hurley-Expand" class="project-ID-wrap" data-title="Hurley">
        <div id="" class="project-expand-wrap">
        <div id="" class="xpnd-header">

            <h3><span>0</span>3</h3>
            <h4>Project No.</h4>
            <h1>Hurley Int. | Nike</h1>
            <h2 class="/Active-color">Commercial Apparel Design</h2>

            <div class="prevProject navProject-button hurley-color"><i class="material-icons">navigate_before</i></div>
            <div class="nextProject navProject-button hurley-color"><i class="material-icons">navigate_next</i></div>
            <div id="" class="NA//xpnd-banner hurley-BG opened"></div>

        </div>

        <div class="expand-brief-wrap">
            <div class="xpnd-brief-txt single-txt">

            <p><span>B</span>ut I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the
                master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself. again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which
                toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise.
            </p>
            </div>
            <!--   <div class="overview-txt xpnd-brief-txt">
            <h2 class="hurley-BG">Brief</h2>
            <p><span>B</span>ut I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself.
            </p>
            </div>
            <div class="v-rule"></div>
            <div class="challenge-txt xpnd-brief-txt">
            <h2 class="hurley-BG">Challenge</h2>
            <p><span>N</span>or again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise.</p>
            </div> -->
        </div>

        <div class="expand-content-wrap">

            <div id='Hurley_Section_0' class='content-section section_0'>
            <div class='section-banner'>
                <h1>Freedive</h1>
                <h3>Apparel Line</h3>
            </div>
            </div>

            <div id='Hurley_Section_1' class='content-section section_1'>
            <div class='section-title'>
                <div class='HR-margin'></div>
                <h1>01</h1>
                <div class='VR-short'></div>
                <h2>Concept & Preliminary Work </h2>
            </div>
            <div class="image_600px center-image">
                <img src="http://markhealeywaterman.com/wp-content/uploads/2013/04/zimmerman-2.jpg">
                <div class="image-picker right">
                <ul>
                    <li class='Active-BG'>Image 01</li>
                    <li class='Active-BG'>Image 02</li>
                    <li class='Active-BG'>Image 03</li>
                    <li class='Active-BG'>Image 04</li>
                    <li class='Active-BG'>Image 05</li>
                </ul>
                </div>
            </div>
            </div>

            <div id='Hurley_Section_2' class='content-section section_2'>
            <div class='section-title'>
                <div class='HR-margin'></div>
                <h1>02</h1>
                <div class='VR-short'></div>
                <h2>'Kleet Knot'<br>Digital Illustration</h2>
            </div>
            <div class="image_600px center-image">
                <img src="http://placehold.it/600x450">
                <div class="image-picker right">
                <ul>
                    <li class='Active-BG'>Image 01</li>
                    <li class='Active-BG'>Image 02</li>
                    <li class='Active-BG'>Image 03</li>
                    <li class='Active-BG'>Image 04</li>
                    <li class='Active-BG'>Image 05</li>
                </ul>
                </div>
            </div>
            </div>
        </div>

        </div>
    </div>
    </div>

    <div class="project-Nav">
    <ul>
        <li class="p-Nav-item Active-color current-scroll">Brief</li>
        <li class="p-Nav-item">Concept</li>
        <li class="p-Nav-item">Exploation</li>
        <li class="p-Nav-item">Product</li>
        <li class=" p-Nav-menuButton Active-BG opened">
        <i class="material-icons">sort</i>
        <div class="pNav-icon-short" id="pN-Icon-1"></div>
        <div class="pNav-icon-long" id="pN-Icon-2"></div>
        <div class="pNav-icon-short" id="pN-Icon-3"></div>
        </li>
    </ul>
    <div id="Nav-Hider"></div>
    </div>
    <!--
    <svg class='blendMode-Test'>
    <g class="isolate">
        <circle cx="40%" cy="40%" r="200" fill="red"/>
        <circle cx="30%" cy="40%" r="200" fill="lightgreen"/>
        <circle cx="50%" cy="40%" r="200" fill="blue"/>
    </g>
    </svg> 
    -->

    <!--   //// BLUR : Filter + Attr. Tween = StdDeviation 
    <svg height="0">
    <defs>
        <filter id="SVGblur" x="0" y="0">
        <feGaussianBlur in="SourceGraphic" stdDeviation="2"/>
        </filter>
    </defs>
    </svg>   -->
    </div>
   <script src="/js/audgka.js"></script>
   <script src="/js/maker.js"></script>
</body>
</html>