<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>I AM</title>
    <link rel="stylesheet" href="/css/maker.css">
    <link rel="stylesheet" href="/css/board.css">
    <meta property="og:title" content="{%= ogTitle}">
    <meta property="og:description" content="{%= ogDescription}">
    <meta property="og:image" content="{%= ogImage}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Mono:100,300,400,400i,500,700" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/plugins/CSSRulePlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
</head>
<body>

<!--    <div id="" class=""></div>    <section id="" class=""></section>  -->
    <div class="nav">
        <div class="nav_hamburger">
            <img src="/img/make/icon_hamburger.png" alt="">
        </div>
        <ul class="nav_menu-list">
            <li>
                <img src="/img/make/icon_preview.png" alt="">
                <a onclick="onPreviewClicked(this)">미리보기</a>
            </li>
            <!-- <li>
                <img src="/img/make/icon_share.png"  alt="">
                <a id="cardShare" onclick="onshareClicked(this);">공유하기</a>
            </li> -->
            <li>
                <img src="/img/make/icon_hamburger.png"  alt="">
                <a id="cardAdd" onclick="onAddClicked(this);">등록하기</a>
            </li>
        </ul>
        <div class="nav_info">
            <% if(!userName){ %>
                <a href="/auth/signup">가입</a>
                <a href="/auth/login">로그인</a>
            <% }else{ %>
                <a href="#"><%= userName %>님 환영합니다.</a> 
            <% } %>
            
        </div>
    </div>
    <div class="maker-section">
        <div id="makerSection" class="maker-container" >
            <iframe id="templateFrame" src="/audgka/template/<%= templateId %>" frameborder="0" width=100% height=100% scrolling=no ></iframe>
            <!-- 우측 편집박스 -->
            <div id="toolBox" class="tool-box">
                    <div class="tool-box_title">
                        <p>본문텍스트</p>
                    </div>
                    <div class="tool-box_content-cover">
                        <ul class="tool-box_content-list">
                            <li class="tool-box_content-list_item"><a href=""> <span>색상</span> black</a></li>
                            <li class="tool-box_content-list_item"><a href=""> <span>색상</span> black</a></li>
                            <li class="tool-box_content-list_item"><a href=""> <span>색상</span> black</a></li>
                            <li class="tool-box_content-list_item"><a href=""> <span>색상</span> black</a></li>
                            <li class="tool-box_content-list_item"><a href=""> <span>색상</span> black</a></li>
                        </ul>
                    </div>
                </div>
    
            
                <!-- 텍스트 편집 박스 -->
                <div id="textEditBoxCover" class="text-edit-box_cover">
                    <div id="textEditBox" class="text-edit-box">
                        <div id="textEditToolbar" class="text-edit-box_toolbar">
                
                        </div>
                        <textarea id="textArea" class="text-edit-box_textarea" name="text" id="" cols="30" rows="10" style="width:200px; height:100px; text-align: center; font-size:1rem;"></textarea>
                    </div>
                </div>
    </div>



    <!-- 미리보기 -->
    <form id ="previewForm" action="/about/preview" method="post" target="previewWindow" >
        <input id="previewSource" name="previewSource" type="hidden">
    </form>
    <!-- 공유시   -->
   <div id="link-box-cover" class="link-box-cover display-none">
    <form id="addForm" action="" method="post" class="share-form">
        <input id="templateSourceInput" name="templateSource" type="hidden">
        <div class="share-form_line">
            <label for="ogDescription">링크주소 설정</label>   
            <div class="block-input">www.audgka.com/about/</div>
            <input class="link-address" type="text" name="url" 
            placeholder="적용할 주소">
        </div>
        <div class="share-form_line">
            <label for="ogTitle">타이틀 설정</label>
            <input type="text" name="ogTitle">
        </div>
        <div id="shareFormDescription" class="share-form_line">
            <label for="ogDescription">명함설명 설정</label>
            <textarea rows="3" name="ogDescription"></textarea>
        </div>
        <div class="share-form_line">
            <label for="ogImage">미리보기 이미지</label>
            <div class="share-form_img-block">
                <img id="output" class="output-image" src="" alt="">
                <input type="file" onchange="loadFile(event)"  name="ogImage">
            </div>
            
        </div>
        <div class="button-section">
            <button class="community-banner__item community-banner__item--selected" type="submit">등록</button>
            <button type="button" class="community-banner__item" onclick="onCloseClicked(this)">취소</button>
        </div>
        
    </form>
    
   </div>

   <script src="/js/audgka.js"></script>
   <script src="/js/maker.js"></script>

</body>
</html>