<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>템플릿 입력창</title>
</head>
<body>
    <form action="/template/add" method="POST">
    <input type="text" name ="userId"><br/>
    <input type="text" name="title"><br/>
    <textarea name="content" cols="250" rows="70" ></textarea><br/>
    <input type="submit" value="submit" />

    </form>



</body>
</html>