<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/templates.css">
    <title>I AM</title>
</head>
<body>
    <!-- 메뉴 -->
    <nav class="navigation-bar">
        <a href="/main">
            <img class="navigation-bar__logo" src="/img/main/logo.png" alt="">
        </a>
        <div class="navigation-bar__menu">
            <ul class="menu-list">
                <a href="#"><li>기능</li></a>
                <a href="/item"><li>둘러보기</li></a>
                <a href="/audgka/1"><li>프리미엄</li></a>
                <a href="#"><li>템플릿</li></a>
                <a href="#"><li>고객지원</li></a>
            </ul>
        </div>
        <div class="navigation-bar__menu navigation-bar__menu--right">
            <ul class="menu-list">
                <a href="#"><li>가입</li></a>
                <a href="/login"><li>로그인</li></a>
                <li>
                    <div class="menu-list_search-bar">
                        <img src="./img/main/searchIcon.png" alt="">
                        <input type="text" placeholder="Search" >
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- 배너 -->
    <div id="banner" class="section section--pink">
        <div class="section_inner">
            <div class="left padding-top--200">
                <div class="description-box vertical_center">
                    <div class="description-box__title">        
                        <h1>나만의</h1>
                        <h1>명함을 <span class="text--yellow">공유하세요</span></h1>
                    </div>
                    <div class="description-box__text">
                        <p>'I AM'과 함께 나만의 멋진 명함을 무료로 제작해보세요!</p>
                    </div>
                    <a href="/#">
                        <button type="button" class="start-button" >시작하기</button>
                    </a>
                </div>
            </div>
            <div class="right">
                <img src="/a.png" alt="">
            </div>
            
        </div>
    </div>
    <div class="sorting-bar">
        <ul class="sorting-menu">
            <li class="sorting-menu_item">
                <a class="sorting-list_active-item" href="">Popular</a>
                <ul class="sorting-list">
                    <li><a href="">Recent</a></li>
                    <li><a href="">Most Viewed</a></li>
                    <li><a href="">Most Commented</a></li>
                </ul>
            </li>
            <li class="sorting-menu_item">
                <a class="sorting-list_active-item" href="">Popular</a>
                <ul class="sorting-list">
                    <li><a href="">Recent</a></li>
                    <li><a href="">Most Viewed</a></li>
                    <li><a href="">Most Commented</a></li>
                </ul>
            </li>
            <li class="sorting-menu_item">
                <a class="sorting-list_active-item" href="">Popular</a>
                <ul class="sorting-list">
                    <li><a href="">Recent</a></li>
                    <li><a href="">Most Viewed</a></li>
                    <li><a href="">Most Commented</a></li>
                </ul>
            </li>
           
            
        </ul>
        <div class="sorting-bar_icon">
            <img src="/qwd.png" alt="">
        </div>
    </div>
    <div class="section">
        <div class="tho">
            
        </div>
    </div>
</body>
</html>