@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body{
    margin:0;
    padding:0;
    background:#3d516b !important;
}

/* font-family: 'Roboto', sans-serif;
 */
 .section{
     margin:0;
     padding:0;
     position: relative;
     width:100%;
 }
 .center-box{
     margin:70px auto 70px;
     background-color: #f1f2f2;
     position: relative;
     width:1000px;
     height:600px;
     box-shadow: 0 0 30px 10px rgba(0,0,0,0.2);
 }
 .left{
     width:490px;
     float:left;
     position: relative;
     border-right:1.5px solid #e5e5e5;
 }
 
 .login-box{
   margin: 0 auto 30px;

 }
 .login-box form{
    margin:0 auto;
    width:65%;
    padding-bottom: 15px;
 }
 .login-box__logo{
     margin-bottom: 20px;
 }
 .login-box__logo img{
     display: block;
     width:150px;
     margin:auto;
 }
.login-box form input{
    margin-bottom: 1rem;
    width:100%;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    color:#333;
    font-size:0.9rem;
    padding:0.7rem 0.5rem;
    line-height: 1.3rem;
    box-sizing: border-box;
}
.login-box form input:focus{
    outline: none;
}
.login-button{
    margin-top:10px;
    padding: 0.7rem 1rem;
    height:2.7rem;
    width:100%;
    display: block;
    border-radius: 2px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition:all 0.4s;

    box-sizing: border-box;
}
.login-button--long-orange{
    border:0;
    background-color:#E4b726;
    border-radius: 10px;
}
.login-button--long-orange:hover{
    background-color:#ff7b39;
}

.login-button--normal-black{
    border:1px solid #999;
    
    color:#999;
    background:none;
}
.login-button--normal-black:hover{
    border:1px solid #ff7b39;
    
    color:#ff7b39;
}
.sixty{
    width:60%;
    margin:20px auto;
}
.links a{
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
    color:#999;
    text-decoration: none;
    font-size:0.8rem;
}
.links a:hover{
    color:#E4b726 !important;
}
.or{
    margin-bottom:0.5rem;

}
.bar{
    display:inline-block;
    width:40%;
    margin:0 auto;
    border:none;
    border-top: 1px solid #aaa;
    height:5px;

}
.or span{
    display: inline-block;
    margin:0;
    color:#ccc;
    width: 17%;
    text-align: center;
    line-height: 20px;
}


/* footer */
.login-footer{
    position: absolute;
    bottom:10px;
    left:50%;
    transform: translateX(-50%);
    color:#999;
    text-align:center;
    font-size:0.7rem;
    padding-top:3rem;
    max-width: 90%;
    margin:auto; 
}
.login-footer a:hover{
    color:#ff7b39 !important;
    text-decoration: underline;
}


.size{
    height:50px;
}
/* Showcase */
.right{
    float:right;
    position: relative;
    width: 500px;
}
.showcase{
    position: relative;
    height:100%;    
    background:url("/img/intro/intro_login.gif") no-repeat center center / contain;
}
.showcase-info{
    width:auto;
    position: absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
}
.showcase-info__text{
    font-size:3rem;
    width:100%;
    color:white;
    white-space: nowrap;
    margin-bottom: 1.5rem;
}

.login-button--small-black{
    border:1px solid #f4f4f4;
    background:none;
    width:60%;
    margin:auto;
}
.login-button--small-black:hover{
    border-color:#ff7b39;
    color:#ff7b39;
}




/* 

 @media(min-width:1200px){
     .left{
         width:40%
     }
     .right{
         width:59%;
     }
 } */
 .agree-box{
     margin-bottom: 10px;
 }
 .agree-box__title{
     width:100%;
     border-bottom: 1px solid #ccc;
     color:#666;
     padding:5px 0;
}
 .agree-box__title-subject{
     font-weight:bold;
     
 }
 .agree-box__title-button{
     margin-left:55px;
     text-align: right;
     display: inline-block;
     width:150px;
     font-size: 0.8rem;
     color:#b0b8c0;
}
 .agree-box__context{
     height:100px;
     overflow-y: scroll;
     padding:20px;
     font-size:11px;
     color:#b0b8c0;
     background-color:white;
}
.login-box__id>span.agree{
    float:right;
}
input#termsAgree{
    display: inline-block;
    width:20px;
}