@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
    margin:0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
}
a:visited, a:link , a:active{
    text-decoration: none;
}

/* 메뉴 */

.navigation-bar{
    position: sticky;
    top:0;
    height:60px;
    padding:0 20px 0 40px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #333333;
    z-index:100;

}
.navigation-bar__logo{
    
    height:50px;
    margin-bottom: 7px;
}
.navigation-bar__menu {
    display: inline-block;
    margin: 2.5px 0;
    height:100%;
    color:white;
    font-size:0.9rem;
    text-decoration: none;
}
.menu-list{
    float:left;
    right:0;
    padding: 0;
    
    height:35px;
    margin:13px 0 0 0;
    
}
.menu-list a:link,:visited{
    color:#9f9f9f !important;
}
.menu-list a.selected{
    color:#ffffff !important;    
}
.menu-list li{
    float:left;
    list-style: none;
    margin:6px 0 0 18px;
}

.navigation-bar__menu--right{
    float:right;
}
.menu-list_search-bar{
    box-sizing: border-box;
    width:245px;
    border-radius: 20px;
    padding:3px 10px;
    margin-top: -5px;
    height:32px;
    background-color:white;
    vertical-align: center;
}
.menu-list_search-bar img{
    width:19px;
    margin-top:3px;
    display: inline-block;
    vertical-align: baseline;
}
.menu-list_search-bar input{
    width:70%;
    height: 100%;
    color:#9f9f9f;
    font-size:1.1rem;
    border:none;
    vertical-align: top;
    outline-style:none;
}
.menu-list_search-bar input::placeholder{
    font-size:1.1rem;
    color:#9f9f9f;
}


/* 배너 */
.section{
    width:100%;
}
.section--pink{
    background-color:#f5bede;
    height:700px;
}
.section--blue{
    background-color:#07366E;
    height:700px;
}
.section--second{
    height:950px;
}
.section--third{
    height:1230px;
}
.section--fourth{
    height:740px;
}

.section_inner{
    width:1000px;
    margin:0 auto;
    border:1px solid transparent;
    border-width: 1px 0 1px 0;
}
.section_inner--relative{
    position: relative;
    height:700px;
}

.left{
    float:left;
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
    z-index: 1;
}


.right{
    position:absolute;
    top:50%;
    right:0;
    transform: translate(0, -45%);
}
.right>img{
    width:500px;
}

.description-box{
    position:relative;
    display: table;
    z-index:10;
}

.text--yellow{
    color:#f4c613;
    font-weight: 700;
}

.description-box__title h1{
    color:white;
    font-size:4.2rem;
    font-weight:700;
    text-transform: uppercase;
    margin:0;

}

.description-box__text{
    color:white;
    font-size:1.1rem;
    font-weight: 100;
    margin: 8px 0 30px 0;
}
.start-button{
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    font-size:20px;
    font-weight: bold;
    margin: 20px 6px;
    padding: 14px 50px;
    transition: all 0.4s;
    background-color:#E0AA02;
    color:white;
    border:0;
    outline: 0;
}
.description-box__button:hover{
    color:black;
}
.text-center{
    text-align: center;
}

.simple-logo{
    margin:150px 0 0 0;
    height:100px;
}
.description{
    margin:60px 0 60px;
    font-size:3.3rem;
    font-weight: normal;
    line-height: 6.6rem;
}
.function-list{
    overflow: hidden;
}
.function-list_item{
    box-sizing: border-box;
    width:33.333%;
    float:left;
    padding:15px;
}
.function-list_item img{
    width:100px;
    height:100px;
}
.function-list_item h4{
    font-size:1.6rem;
} 
.function-list_item p{
    font-size:1.3rem;
}

.section--black{
    background:black;
}
.editor-description{
    color:white;
}
.editor-description_title{
    margin-top:100px;
    font-size:5rem;
}
.editor-description_video-cover{
    background:#333333;
    width:1000px;
    border-radius: 10px;
    padding:20px;
}
.editor-description_video-cover video{
    width:100%;
}
.editor-description_context{
    margin:60px 100px;
    font-size: 1.4rem;
    line-height: 2.3rem;
}
.section--orange{
    background:#E0AA02;
}
.description--white{
    color:white;
}
.start-button--purple{
    background-color:#AE02F6;
    box-shadow: 0 5px 30px 1px rgba(0,0,0,0.25);
}
.footer{
    width:100%;
    padding:50px 0; 
    background:black;
}
.footer_logo{

    position: relative;
}
.footer_blur{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.4);
}
.footer_logo>img{
    width:80px;
}
.footer_info{
    margin-top:20px;
    color:#fefefe;
    font-size:0.4rem;
    line-height: 0.9rem;
}
.back-img{
    position: relative;
}
.back-img>img{
    width:1000px;

}
.back-img>.over-link_top{
    position: absolute;
    z-index: 1;
    left:65px;
    top:913px;
    font-size:20pt;
    color: #78b8f3 !important; 
}
.back-img>.over-link_bottom{
    position: absolute;
    z-index: 1;
    left:61px;
    bottom:130px;
    font-size:20pt;
    color: #78b8f3 !important; 
}
.back-img>a:visited{
  color: #78b8f3 !important;  
}