@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
    margin:0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
}
.sorting-bar{
    white-space: nowrap; /* 무조건 한줄로 */
    height:40px;
    background:white;
    border-bottom: 2px solid #e5e5e5;
    position: relative;
}
.sorting-menu{
    list-style: none;
    margin:auto;
    width:400px;
    height:100%;
}
.sorting-menu_item{
    display: inline-block;
    width:100px;
    height:100%;
    position: relative;
}



.sorting-list_active-item{
    font-weight:bold;
    font-size:1rem;
    line-height: 2.5rem;
}
.sorting-list_active-item:link,:visited{
    color:black;
}
.sorting-list_active-item::after{
    content:" ";
    background-image:url("/img/templates/icon_down.png");
    width:10px;
    height:10px;
    display: inline-block;
    background-position: center;
    background-size: contain;
}
.sorting-list{
    
    display: none;
    position: absolute;
    top:40px;
    width:200px;
    padding: 0 0 10px 0;
    background:white;
    list-style: none;
    box-shadow: 1px 2px 1px  black;
    font-size:0.8rem;
}
.sorting-list>li{
    display: block;
    height:20px;
    padding:3px 15px;
    line-height: 1.2rem;
    font-size:0.9rem;
}
.sorting-list>li:hover{
    background-color: gray;
}

.sorting-menu_item:hover>ul{
    display: block;
}
.sorting-list:hover{
    display: block;
}

.sorting-bar_icon{
    position: absolute;
    right:25px;
    top:11px;
}
.sorting-bar_icon>img{
    width:15px;
    height:15px;
}
.section--gray{
    background:#f4f4f4;
}
.section_inner--list{
    padding: 10px 0;
    overflow: hidden;
}
.template-box-cover{
    margin:0 15px 30px;
    width:calc(100% / 4 - 30px);
    float:left;
}
.template-box{
    background:white;
    padding:10px;

}

.template-box_img{
    height:150px;
/*     margin:auto;
    background:url("/img/templates/list/template2.jpg") no-repeat;
    background-size:contain;
    background-position: center; */
}
.template-box_img:hover{
    height:150px;
/*     margin:auto;
    background:url("/img/templates/list/template2.gif") no-repeat;
    background-size:contain;
    background-position: center; */
    content:url("/img/templates/list/template2.gif")
    /* IE호환성 체크하기 */
}
.template-box_info{
    list-style: none;
    padding:0;
    margin:0;
    overflow: hidden;
    color:#bcbcbc;

}
.template-box_info>li{
    float:right;
    margin-right:5px;
}
.template-box_info_hearts::before{
    display: inline-block;
    content: " ";
    width:10px;
    height:10px;
    background:url("/img/templates/icon_heart.png") no-repeat;
    background-size: contain;
    
}
.template-box_info_reviews::before{
    display: inline-block;
    content: " ";
    width:10px;
    height:10px;
    background:url("/img/templates/icon_chat.png") no-repeat;
    background-size: contain;
    
}

.template-box_info_views::before{
    display: inline-block;
    content: " ";
    width:10px;
    height:10px;
    background:url("/img/templates/icon_eye.png") no-repeat;
    background-size: contain;   
}
.template-box_designer>img{
    width:20px;
}
